<div class="col-md-12">
    <div class="card cardimg">
        <div class="card-body">
            <h4 class="card-title text-center"> My favorite </h4>
            <div class="pt-10">

                <div class="row text-center" *ngIf='newArray.length > 0'>
                    <div class="col-sm-4 col-md-3 pb-3 " *ngFor="let item of newArray;">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">{{item.city}}</h3>
                                <h4>{{item.country}}</h4>
                                <h6>{{item.data.LocalObservationDateTime | date}} </h6>
                                <h5>{{item.data.WeatherText}} {{item.data.Temperature.Metric.Value | number}}</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>