<h3 class="text-center pt-5"> My favorites </h3>
<div class="col-md-12 pt-2">
    <div class="card cardimg">
        <div class="card-body">
            <div class="pt-20">
                <div class="row text-center" *ngIf='newArray.length > 0'>
                    <div class="col-sm-4 col-md-3 pb-3 " *ngFor="let item of newArray;">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">{{item.city}}</h3>
                                <h4>{{item.country}}</h4>
                                <h6>{{item.data.LocalObservationDateTime | date}} </h6>
                                <h5>{{item.data.WeatherText}} {{item.data.Temperature.Metric.Value | number}}</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>